<ul role="navigation">
  <li><a class="header" href="/home">Home</a></li>
  <li><a class="header" href="/contests">Contests</a></li>
  <li><a class="header" href="/getting-the-game">Getting the Game</a></li>
  <li><a class="header" href="/live-house">Live House</a></li>
  <li><a class="header" href="/live-shows">Live Shows</a></li>
  <li><a class="header" href="/live-stage-legend">Live Stage Legend</a></li>
  <li><a class="header" href="/missions/">Missions</a>
    <ul>
      <li><a class="header" href="/missions/tutorial">Tutorial</a></li>
    </ul>
  </li>
  <li><a class="header" href="/reference/">Reference</a>
    <ul>
      <li><a class="header" href="/reference/interior-items">Interior Items</a></li>
      <li><a class="header" href="/reference/modules">Modules</a></li>
      <li><a class="header" href="/reference/stages">Stages</a></li>
    </ul>
  </li>
  <li><a class="header" href="/training">Training</a></li>
  <li><a class="header" href="/idol">Your Idol</a></li>
</ul>
