---
---

#markdown-toc {
    font-size: smaller;
    border: 1px solid currentColor;
    padding: 0.5em 2.5em;
    margin-top: 0;
    margin-bottom: 2.5em;
}

#markdown-toc ul {
    margin-top: 0;
}
#markdown-toc li {
    line-height: 125%;
}

#markdown-toc::before {
    content: 'Table of Contents';
    font-variant: small-caps;
    margin-left: -1.5em;
}
